<div class="services">
  <div class=" introduction bordered">
    <section>
      <div class="pageCurlCorner"><%= image_tag 'pageCurlCorner.png' %></div>
      <h1 class="serviceIcon">Services</h1>
      <article class="description">
        <h2>Web applications</h2>
        <p>
          We live and breathe in the web application arena and love software as a service ideology. From very simple web site to a sophisticated web application, we can provide you with best-of-class solution.
        </p>


        <h2>Facebook applications</h2>
        <p>Building social media applications, is thinking ahead. We can brain storm ideas with you and incorporate the best practices on social media to build out a functional facebook application to add to your public relation strategies.</p>

        <h2>Wordpress & Tumblr web sites</h2>
        <p>We strongly recommend using powerful CMS tools such as wordpress, tumblr or light CMS if you are looking for to get beautiful web presence, quickly.</p>
      </article>


    </section>
  </div>


  <section class="information">
    <h2>Our process &mdash Pragmatic</h2>
    <article class="process">
      <%= image_tag 'process.png' %>
    </article>


    <h2>Our forte:</h2>
    <article class="forte">
      <%= image_tag 'forte.png' %>
    </article>

    <h2>Our tools:</h2>
    <article>
      <%= image_tag 'tools.png' %>
    </article>
  </section>
</div>