<%= semantic_form_for(@profile, :url => profile_path, :multipart => true, :html => {:class => 'titleAbove'}) do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs :information do %>
    <%= f.input :dob, :as => :date, :label => 'Date of birth', :end_year => 18.years.ago.year, :start_year => 100.years.ago.year %>
    <%= f.input :position, :label => 'Your position at Idyllic Software' %>
    <%= f.input :skype, :label => 'What is your skype name? (public)' %>
    <%= f.input :zone_of_genius,:label => 'What is your zone of genius. (Goto http://myezog.com/Home.html to find it out)' %>
    <%= f.input :tech_tools, :label => 'Technologies and Tools' %>
    <%= f.input :residence, :label => 'Where do you live? (private)'%>
    <%= f.input :phone %>
    <%= f.input :personal_email, :label => 'What is your Personal email address? (private)' %>
    <%= f.input :emergency_contact, :input_html => {:rows => 7}, :label => 'Mention atleast one emergency contact. (private)' %>
    <%= f.input :google_reader_feed_url, :label => 'We want to know what you read so go ahead and put in your google reader feed url here.' %>
    <%= f.input :picture, :as => :file %>
  <% end %>
  <%= f.submit %>

<% end %>
