<% content_for :page_title do %>
  Edit profile
<% end %>

<div class="active_admin_content">
  <div class="main_content_wrapper">
    <div class="main_content">
      <%= render 'form' %>
    </div>
  </div>
</div>


