<% content_for :page_title do %>
  <%= current_maverick.name %>'s Profile
  <% if  !current_maverick.publish%>
    <span class="preview">
      <%= link_to "Preview", preview_profile_path, :target => "_blank" %>
    </span>
  <% end %>
<% end %>

<%= form_for(@profile, :url => profile_path, :html => {:class => 'statusForm'}) do |f| %>
  <h2>What are you doing?</h2>
  <%= f.text_field :status, :size => 144 %>
  <%= f.submit 'Update'%>
<% end %>

<table class="information left">
  <tr>
    <td>Maverick</td>
    <td class="value"><%= @profile.maverick.name %></td>
  </tr>
  <tr>
    <td>Dob</td>
    <td class="value"><%= @profile.dob %></td>
  </tr>
  <tr>
    <td>Position</td>
    <td class="value"><%= @profile.position %></td>
  </tr>
  <tr>
    <td>Skype</td>
    <td class="value"><%= @profile.skype %></td>
  </tr>
  <tr>
    <td>Zone of genius</td>
    <td class="value"><%= @profile.zone_of_genius %></td>
  </tr>
  <tr>
    <td>Tech tools</td>
    <td class="value"><%= @profile.tech_tools %></td>
  </tr>
  <tr>
    <td>Residence</td>
    <td class="value"><%= @profile.residence %></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td class="value"><%= @profile.phone %></td>
  </tr>
  <tr>
    <td>Personal Email</td>
    <td class="value"><%= @profile.personal_email %></td>
  </tr>
  <tr>
    <td>Emergancy contact</td>
    <td class="value"><%= @profile.emergency_contact %></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to 'Edit', edit_profile_path, :class => 'linkButton' %></td>
  </tr>
</table>
<%= image_tag @profile.picture.url(:medium) %>


