<script type="text/javascript">
  $(window).load(function() {
    $('#slider').nivoSlider({
      effect:"random",
      slices:15,
      boxCols:8,
      boxRows:10,
      animSpeed:2000,
      pauseTime:10000,
      startSlide:0,
      directionNav:true,
      directionNavHide:true,
      controlNav:true,
      controlNavThumbs:false,
      controlNavThumbsFromRel:true,
      keyboardNav:true,
      pauseOnHover:true,
      manualAdvance:false
    });
  });
</script>
  <div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
      <% 18.times do |i| %>
        <%= image_tag "b#{i+1}.jpg" %>
      <% end %>
    </div>
  </div>