Hello there,

A new application has come in through the organization website. Below are the details:

Name: <%= @inquiry.name %>
Email: <%= @inquiry.email %>
Phone: <%= @inquiry.phone %>
Github: <%= @inquiry.git_hub_url %>
Resume: <%= @inquiry.resume %>
Aspirations: <%= @inquiry.aspirations %>

Thank you.
Idyllic Software team.