<section class="profile">
  <article class="projects" style="display:none;">
    <% if @maverick.has_displayable_projects? %>
      <div class="pageCurlCorner"><%= image_tag 'pageCurlCorner.png' %></div>
      <div id="projects">
        <ul class="projects">
          <% @maverick.displayable_projects.each_with_index do |project,index| %>
            <% if project.screenshot %>
              <li class="<%=  "#{'first' if index == 0} #{'last' if index == (@maverick.projects.size - 1)}" %>">
                <%= link_to image_tag(project.screenshot.url(:medium)), '#', :class => 'screenshot' %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% if @maverick.displayable_projects.size > 1 %>
        <%= link_to image_tag('projectPreviousOff.png'), 'javascript:void(0)', :class => 'projectNavigator projectBack'%>
        <%= link_to image_tag('projectNextOn.png'), 'javascript:void(0)', :class => 'projectNavigator projectNext' %>
      <% else %>
        <%= link_to image_tag('projectPreviousOff.png'), 'javascript:void(0)', :class => 'projectNavigator projectBack'%>
        <%= link_to image_tag('projectNextOff.png'), 'javascript:void(0)', :class => 'projectNavigator projectNext' %>
      <% end %>
    <% end %>
  </article>

  <article class="maverickInformation">
    <div class="pageCurlCorner"><%= image_tag 'pageCurlCorner.png' %></div>
    <div class="leftSection informationSection">

      <h2 class="title">Professional experience</h2>
      <%= @maverick.brief_bio.professional_experience.to_html.html_safe rescue '' %>

      <h2 class="title">Educational qualifications</h2>
      <%= @maverick.brief_bio.education.to_html.html_safe rescue '' %>

      <h2 class="title">What will you enjoy when you work with me?</h2>
      <%= @maverick.brief_bio.why_work_with_me.to_html.html_safe rescue ''%>

    </div>
    <div class="rightSection informationSection">
      <h2 class="title">Favorite Quote</h2>
      <%= @maverick.brief_bio.favorite_quote.to_html.html_safe  rescue ''%>
      <hr class="seperator"/>

      <h2 class="title">Topics of interest</h2>
      <%= @maverick.brief_bio.topics_of_interest.to_html.html_safe rescue ''%>
      <hr class="seperator"/>

      <h2 class="title">Purpose of life</h2>
      <%= @maverick.brief_bio.purpose_of_life.to_html.html_safe rescue ''%>
      <hr class="seperator"/>

      <h2 class="inline title">Email:</h2>
      <p><%= link_to @maverick.personal_email, "mailto:#{@maverick.personal_email}" %></p>
      <hr class="seperator"/>

      <h2 class="title">What am I doing?</h2>
      <p><%= @maverick.status %></p>
      <hr class="seperator"/>

      <h2 class="title">Recent readings</h2>
      <ul>
        <% @maverick.profile.recent_readings do |reading| %>
          <%= link_to reading.title, reading.url, :target => :blank  %>
        <% end %>
      </ul>
    </div>
  </article>

  <article class="information">
    <p class="profileImage">
      <%= image_tag @maverick.picture.url(:medium) %>
    </p>
    <hr/>
    <section class="bio">
      <h2><%= @maverick.name %></h2>
      <ul>
        <li><label>Position:</label> <%= @maverick.position %></li>
        <li><label>Age:</label> <%= @maverick.age %> years</li>
        <li><label>Skype name:</label> <%= @maverick.skype %></li>
        <li><label>Zone of genius</label>: <%= link_to @maverick.zone_of_genius, 'http://www.myezog.com', :target => 'blank' %></li>
      </ul>
    </section>

    <hr class="clearBoth"/>
    <section>
      <ul>
        <li><label>Choice of technologies and tools</label></li>
        <li><%= @maverick.tech_tools %></li>
      </ul>
    </section>

    <hr class="clearBoth"/>
    <section class="recommendations">
      <%= link_to image_tag('facebook.png'),@maverick.facebook, :target => "_blank" %>
      <%= link_to image_tag('linkedin.png'), @maverick.linkedin, :target => "_blank" %>
      <%= link_to image_tag('twitter.png'),"http://www.twitter.com/#{@maverick.twitter}", :target => "_blank" %>
    </section>
  </article>
  <div class="clearBoth"></div>
</section>

<script type="text/javascript">
<% if @maverick.has_displayable_projects? %>
    $('.myWorkNavigation').show();
    $('.briefBioNavigation').show();
<% else %>
    $('.myWorkNavigation').hide();
    $('.briefBioNavigation').hide();
<% end %>

  $('.leftSection').height($('.maverickInformation').height());
  $('.rightSection').height($('.maverickInformation').height());
</script>
