<div class="mavericks">
  <header style="<%= @maverick.has_displayable_projects? ? '' : 'margin-bottom:40px;' %>">
    <%= image_tag 'knowTheTeam.png', :alt => 'Know the team', :class=> 'title' %>
    <div class="teamCarousel">
      <%= link_to image_tag('backOff.png'), 'javascript:void(0)' ,:class => 'teamPicturesBack' %>
      <div id="teamPictures">
        <ul class="teamPictures">
          <% @mavericks.each_with_index do |maverick,i| %>
            <% if maverick.has_picture? %>
              <li class="<%=  "#{'first' if i == 0} #{'last' if i == (@mavericks.size - 1)}" %> hide">
                <% if ie? %>
                  <%= link_to image_tag(maverick.profile.picture.url(:thumb)), "/people/index?maverick=#{maverick.id}", :class => "#{'selected' if maverick.id == @maverick.id} tipTip", :id => "#{maverick.id}", 'name-data' => maverick.name %>
                <% else %>
                  <%= link_to image_tag(maverick.profile.picture.url(:thumb)), 'javascript:void(0)', :class => "#{'selected' if maverick.id == @maverick.id} maverick tipTip", :id => "#{maverick.id}", 'name-data' => maverick.name %>
                <% end %>                
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <%= link_to image_tag('nextOn.png'),'javascript:void(0)', :class => 'teamPicturesNext' %>
    </div>
  </header>
  <% if @maverick.has_displayable_projects? %>
    <%= link_to image_tag('briefBioActive.png'), 'javascript:void(0)',:class => 'briefBioNavigation' %>
    <%= link_to image_tag('myWorkInactive.png'), 'javascript:void(0)',:class => 'myWorkNavigation' %>
  <% end %>

  <% if @maverick %>
    <div id="maverickProfile">
      <%= render :partial => 'home/profile_information' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var initializeProjectCarousel = function(){$("#projects").jCarouselLite({
      btnNext: ".projectNext",
      btnPrev: ".projectBack",
      visible: 1,
      circular: false,
      speed: 500,
      scroll: 1,
      afterEnd: function(args) {
        var backImage, hasFirstImage, hasLastImage, nextImage;
        hasFirstImage = $($(args[0])).hasClass('first');
        hasLastImage = $($(args[args.length - 1])).hasClass('last');
        if (hasLastImage) {
          nextImage = '/assets/projectNextOff.png';
        } else {
          nextImage = '/assets/projectNextOn.png';
        }
        if (hasFirstImage) {
          backImage = '/assets/projectPreviousOff.png';
        } else {
          backImage = '/assets/projectPreviousOn.png';
        }
        $('.projectBack img').attr('src', backImage);
        $('.projectNext img').attr('src', nextImage);
      }
    });
  };

</script>
