<%= semantic_form_for(@social_profile, :url => social_profile_path, :html => {:class => 'titleAbove'}) do |f| %>
  <% if @social_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social_profile.errors.count, "error") %> prohibited this social_profile from being saved:</h2>

      <ul>
        <% @social_profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs :information do %>
    <%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :linkedin %>
    <%= f.input :stackoverflow %>
    <%= f.submit %>
  <% end %>
<% end %>
