<% content_for :page_title do %>
  <%= current_maverick.name %>'s social profile
<% end %>

<table class="information">
  <tr>
    <td>Maverick:</td>
    <td class="value"><%= @social_profile.maverick.name %></td>
  </tr>

  <tr>
    <td>Twitter:</td>
    <td class="value"><%= @social_profile.twitter.blank? ? 'Not provided' : @social_profile.twitter %></td>
  </tr>

  <tr>
    <td>Facebook:</td>
    <td class="value"><%= @social_profile.facebook.blank? ? 'Not provided' : @social_profile.facebook %></td>
  </tr>

  <tr>
    <td>Linkedin:</td>
    <td class="value"><%= @social_profile.linkedin.blank? ? 'Not provided' : @social_profile.linkedin %></td>
  </tr>

  <tr>
    <td>Stackoverflow:</td>
    <td class="value"><%= @social_profile.stackoverflow.blank? ? 'Not provided' : @social_profile.stackoverflow %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_social_profile_path, :class => 'linkButton' %> |
<%= link_to 'Back', profile_path, :class => 'linkButton'  %>
