/*
Syntax error: File to import not found or unreadable: commons.
              Load paths:
                Compass::SpriteImporter
                /home/developer/workspace/is/isip2/public/stylesheets/sass
                /home/developer/workspace/is/isip2/app/assets/stylesheets
                /home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.5/frameworks/blueprint/stylesheets
                /home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets
        on line 3 of /home/developer/workspace/is/isip2/app/assets/stylesheets/site.css.scss

1: @import 'compass/reset';
2: @import 'compass/css3';
3: @import 'commons';
4: 
5: body { font-family: 'Ubuntu', sans-serif; font-size: 13px; background: $background;}

Backtrace:
/home/developer/workspace/is/isip2/app/assets/stylesheets/site.css.scss:3
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/import_node.rb:64:in `rescue in import'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/import_node.rb:42:in `import'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/import_node.rb:25:in `imported_file'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `map'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/tree/root_node.rb:20:in `render'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/engine.rb:241:in `block in render'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/util.rb:297:in `silence_sass_warnings'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/engine.rb:241:in `render'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/warden-1.0.5/lib/warden/manager.rb:35:in `block in call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/warden-1.0.5/lib/warden/manager.rb:34:in `catch'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/warden-1.0.5/lib/warden/manager.rb:34:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/etag.rb:23:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/conditionalget.rb:25:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/flash.rb:243:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/session/abstract/id.rb:195:in `context'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/session/abstract/id.rb:190:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/cookies.rb:326:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/activerecord-3.1.0/lib/active_record/query_cache.rb:62:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/activerecord-3.1.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:477:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:392:in `_run_call_callbacks'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/activesupport-3.1.0/lib/active_support/callbacks.rb:81:in `run_callbacks'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/callbacks.rb:28:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/reloader.rb:68:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/sendfile.rb:101:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/railties-3.1.0/lib/rails/rack/logger.rb:13:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/methodoverride.rb:24:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/runtime.rb:17:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/activesupport-3.1.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/lock.rb:15:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/actionpack-3.1.0/lib/action_dispatch/middleware/static.rb:53:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/railties-3.1.0/lib/rails/engine.rb:455:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/railties-3.1.0/lib/rails/rack/content_length.rb:16:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/railties-3.1.0/lib/rails/rack/log_tailer.rb:14:in `call'
/home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/rack-1.3.3/lib/rack/handler/webrick.rb:59:in `service'
/home/developer/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/developer/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/developer/.rvm/rubies/ruby-1.9.2-head/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: commons.\A               Load paths:\A                 Compass::SpriteImporter\A                 /home/developer/workspace/is/isip2/public/stylesheets/sass\A                 /home/developer/workspace/is/isip2/app/assets/stylesheets\A                 /home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.5/frameworks/blueprint/stylesheets\A                 /home/developer/.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.5/frameworks/compass/stylesheets\A         on line 3 of /home/developer/workspace/is/isip2/app/assets/stylesheets/site.css.scss\A \A 1: @import 'compass/reset';\A 2: @import 'compass/css3';\A 3: @import 'commons';\A 4: \A 5: body { font-family: 'Ubuntu', sans-serif; font-size: 13px; background: $background;}"; }
