<section class="information">
  <h2>A few things you will enjoy:</h2>
  <article>
    <ul>
      <li>Do it your way &mdash; We will not come in your way of working.</li>
      <li>Flexibility in moving projects &mdash; Some projects are darn boring. We dont have any of them. But if you feel more interested in working on something else, we will make it happen for you.</li>
      <li>Pay evaluation based on add value &mdash; Oh yes, you dont have to wait for a year for it to happen. Show us the money and we will show it back to you.</li>
      <li>Easy walk out promise &mdash; We will not keep you waiting if the next big opportunity knocks at your door as long as you have given us a decent good bye party.</li>
      <li>Geek session with beer &mdash; We conduct geek sessions on Friday to get a bit drunk and talk about anything new.</li>
      <li>Sports &mdash; Carom and cricket are our favorite.</li>
    </ul>
  </article>


  <h2>A few things you will NOT enjoy:</h2>
  <article>
    <ul>
      <li>You wont see a windows machine ever, sorry no mac's either. We work purely on ubuntu</li>
      <li>You will have to go back to school again, not literaly, but you will have to go through a lot of reading and new learning.</li>
      <li>There is a limit on beer in the geek sessions. We promise to throw you out of the office if you misbehave :-)</li>
      <li>We are flat!. We do not have ladders for you to climb and compete as we feel they are restrictive to growth. We offer a flat land for you to run and reach out to your dreams @ the speed you choose to.</li>
    </ul>
  </article>

  <h2>We promise:</h2>
  <article>
    <ul>
      <li>Working on latest and greatest technologies.</li>
      <li>No corporate politics.</li>
      <li>Growth based on your add value to the company.</li>
      <li>A good team environment to work in.</li>
      <li>Most importantly, you will not feel going to office and will look forward to coming in and enjoy.</li>
    </ul>
  </article>
</section>