<div class="careers">
  <div class=" introduction">
    <section class="">
      <div class="pageCurlCorner"><%= image_tag 'pageCurlCorner.png' %></div>
      <article class="description">
        <h2>Hungry?</h2>
        <h2>Here is some food</h2>
        <h2>for thought.</h2>
        <p>At Idyllic Software we're a hungry lot. Hungry for work. Hungry for ideas. Hungry for success. If you happen to share the same hunger, you're welcome to joins us at Idyllic. We promise we'll provide you the environment to keep the hunger alive and build your appetite for a great career. The journey has begun. Join in and find your own destination.</p>
        <%= image_tag 'burger.png' %>
      </article>

      <article class="form">
        <h1 class="icon">Careers</h1>
        <% if @job_inquiry.errors.any? %>
          <div id="error_explanation">
            <p>Following errors prohibited from submitting your application:</p>
            <ul>
              <% @job_inquiry.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%=  form_for(@job_inquiry, :url => '/careers/create', :multipart => true) do |f|%>
          <label>Name*</label>
          <%= f.text_field :name %>

          <label>Email address*</label>
          <%= f.text_field :email %>

          <label>Phone</label>
          <%= f.text_field :phone %>

          <label>Github url</label>
          <%= f.text_field :git_hub_url %>

          <label>Tell us how hungry you are. What is your definition of success and what are you willing to do to become successful.</label>
          <%= f.text_area :aspirations, :cols => 54, :rows => 7 %>

          <label>Resume</label>
          <%= f.file_field :resume %>

          <label>Are you human?</label>
          <%= recaptcha_tags :display => {:theme => 'clean', :tabindex => 0}%>
          <%= f.submit 'Submit' %>
        <% end%>
      </article>
    </section>
  </div>

  <%= render :partial => 'careers/working_here' %>

</div>