<div class="careers">
  <div class=" introduction">
    <section class="thankyou">
      <div class="pageCurlCorner"><%= image_tag 'pageCurlCorner.png' %></div>
      <article class="form">
        <%= image_tag 'thankyou.png' %>
        <p class="message">Thank you for your interest in working with us. We will review your submission and get in touch with you soon.
          Wish you all the very best for everything you do.
        </p>
      </article>
    </section>
  </div>

  <%= render :partial => 'careers/working_here' %>

</div>