<div class="contact_us">
  <div class=" introduction">
    <section class="">
      <div class="pageCurlCorner"><%= image_tag 'pageCurlCorner.png' %></div>
      <article class="description">
        <%= image_tag 'contact.png' %>
      </article>

      <article class="form">
        <h1 class="icon">Contact Us</h1>
        <p>With a proven track record of delivering best-of-class solutions and working with some of the big players in the US, Idyllic Software is ready to build out that next big thing for you.</p>
        <p class="strong">How can we help you?</p>
        <p>Please fill out the form below and let us know how may we help you. One of our team members would connect with you as soon as possible. Thank you for contacting us — We are looking forward to speak with you.</p>
        <% if @client_inquiry.errors.any? %>
          <div id="error_explanation">
            <p>Following errors prohibited from submitting your application:</p>
            <ul>
              <% @client_inquiry.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%=  form_for(@client_inquiry, :url => '/contact_us/create', :multipart => true) do |f|%>
          <label>Name*</label>
          <%= f.text_field :name, :size => 34 %>

          <label>Email address*</label>
          <%= f.text_field :email,:size => 34 %>

          <label>Message.</label>
          <%= f.text_area :message, :cols => 54, :rows => 7 %>

          <%= f.submit 'Submit' %>
        <% end%>
      </article>
    </section>
  </div>
</div>