<div id="wrapper">
  <div id="content_wrapper">
    <% if devise_error_messages! %>
      <div class="flash flash_alert">Email not found</div>
    <% end %>
    <div id="active_admin_content">
      <div id="login">
        <h2>Forgot your password?</h2>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "formtastic admin_user" }) do |f| %>
          <fieldset class="inputs">
            <ol>
              <li class="email required" id="admin_user_email_input">
                <%= f.label :email %>
                <%= f.email_field :email %>
              </li>
            </ol>
          </fieldset>
          <fieldset class="buttons">
            <ol>
              <li class="commit">
                <%= f.submit "Send me reset password instructions" %>
              </li>
            </ol>
          </fieldset>
        <% end %>
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>