Hello there,

A new client inquiry has come in through the organization website. Below are the details:

Name: <%= @inquiry.name %>
Email: <%= @inquiry.email %>

Message: <%= @inquiry.message %>

Thank you.
Idyllic Software team.