<div class="actions">
  <ul class="navigation">
    <li><%= link_to (image_tag 'bannerOrangeCircle.png'), 'javascript:void(0)', :onclick => 'rotate("first")' %></li>
    <li><%= link_to (image_tag 'bannerGreyCircle.png'), 'javascript:void(0)', :onclick => 'rotate("second")' %></li>
    <li><%= link_to (image_tag 'bannerGreyCircle.png'), 'javascript:void(0)', :onclick => 'rotate("third")' %></li>
    <li><%= link_to (image_tag 'bannerGreyCircle.png'), 'javascript:void(0)', :onclick => 'rotate("fourth")' %></li>
  </ul>
  <%= link_to 'Meet the mavericks', '/people', :class => 'bannerButton' %>
</div>