<style type="text/css">

  /**
   * Additional styles for the controls.
  */
  .jcarousel-control {
    margin-bottom: 10px;
    text-align: center;
  }

  .jcarousel-control a {
    font-size: 75%;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 0 5px 0;
    border: 1px solid #fff;
    color: #eee;
    background-color: #4088b8;
    font-weight: bold;
  }

  .jcarousel-control a:focus,
  .jcarousel-control a:active {
    outline: none;
  }

  .jcarousel-scroll {
    margin-top: 10px;
    text-align: center;
  }

  .jcarousel-scroll form {
    margin: 0;
    padding: 0;
  }

  .jcarousel-scroll select {
    font-size: 75%;
  }

  #mycarousel-next,
  #mycarousel-prev {
    cursor: pointer;
    margin-bottom: -10px;
    text-decoration: underline;
    font-size: 11px;
  }

</style>



<div id="mycarousel" class="jcarousel-skin-tango">


  <ul>
    <li class="banner">
      <%= image_tag 'collage.png' %>
      <div class="content">
        <h2>Our people</h2>
        <div>
          <p>Meet our mavericks - the real CREATIVITY enablers.</p>
          <p>The team diversity is what you will enjoy when you work with us.
            Some bring in the work culture know hows of working in the US & UK for several years,
            while others bring a diverse technology understanding and marketing perspective to the mix.
          </p>
        </div>
        <div class="peopleActions actions">
          <%= link_to 'Meet the mavericks', '/people', :class => 'bannerButton' %>
        </div>
      </div>
    </li>
    <li class="banner">
      <%= image_tag 'webBanner.png' %>
      <div class="content">
        <h2>Web CREATIV<em>!</em>TY</h2>
        <div>
          <p>In the mature web world, integration plays a vital role. We can build and integrate your software with anything that can speak 01011101, ranging from most popular API's such as Salesforce, Instagram & social media tools like facebook and twitter to some proprietory legacy API, enabling your company to grow and respond to change rapidly than ever before.</p>
          <p>Or, if you are still wondering about the next big thing idea rambling in your mind, talk to us and lets figure it out.</p>
        </div>
        <div class="webActions actions">
          <%= link_to 'Talk to us', '/contact_us', :class => 'bannerButton' %>
        </div>
      </div>
    </li>
    <li class="banner">
      <%= image_tag 'socialBanner.png' %>
      <div class="content">
        <h2>Social media CREATIV<em>!</em>TY</h2>
        <div>
          <p>Meet our mavericks - the real CREATIVITY enablers.</p>
          <p>The team diversity is what you will enjoy when you work with us.
            Some bring in the work culture know hows of working in the US & UK for several years,
            while others bring a diverse technology understanding and marketing perspective to the mix.
          </p>
        </div>
        <div class="socialActions actions">
          <%= link_to 'Talk to us', '/contact_us', :class => 'bannerButton' %>
        </div>
      </div>
    </li>
    <li class="banner">
      <%= image_tag 'contentBanner.png' %>
      <div class="content">
        <h2>Content CREATIV<em>!</em>TY</h2>
        <div>
          <p>Wordpress and Tumblr are good for simple blogs is much of an understatement. They are infact very powerful Content Management systems and we can tame them to work for you. If you are looking for a simple yet professional web presence, think of Content Management System as a good starting point and your best friend.  We can get you a sophisticated web site running with dynamic content and forms, which can all be managed with out of box easy to use web interface.</p>
        </div>
        <div class="contentActions actions">
          <%= link_to 'Talk to us', '/contact_us', :class => 'bannerButton' %>
        </div>
      </div>
    </li>
  </ul>

  <div class="jcarousel-control">
    <a href="#"><%= image_tag 'people_on.png', :class => 'people', :id => '1' %> </a>
    <a href="#"><%= image_tag 'web_off.png', :class => 'web', :id => '2' %> </a>
    <a href="#"><%= image_tag 'facebook_off.png', :class => 'social', :id => '3' %> </a>
    <a href="#"><%= image_tag 'wordpress_off.png', :class => 'webContent', :id => '4' %> </a>
  </div>

</div>



<div>
  <section class="homeDescription">
    <span class="whyWorkWithUs">
      <h2>Why work with us?</h2>
      <ul>
        <li>We accelerate your ideas into traffic generating websites.</li>
        <li>Experience working on diverse project, including new ideas for startups.<span class="highlight">One mission: Excellence</span></li>
        <li>Passionate about experimenting with new ideas, delivering a professional realization of your vision..</li>
        <li>We understand the importance of quick time to market.<span class="highlight">We build lean! We deploy small!</li>
        <li><span class="highlight">Look good everywhere</span>&mdash; We Understand and ensure that a good product MUST look good in all browsers.</li>
        <li><span class="highlight">Product mentality </span> as compared to services or deliverable ones.</li>
        <li><span class="highlight">Java + Ruby </span>&mdash; Have experience working in both java and rails.</li>
        <li><span class="highlight">Round the clock</span>&mdash; Development powerhouse in India enables us to continue your product development while you are fast asleep.</li>
        <li><span class="highlight">No culture shock</span>&mdash; Having lived and worked in US for a decade, we consider ourselves professionally local to the work culture.</li>
        <li><span class="highlight">Affordable</span>&mdash; Our development team incubating in India, allows us to avoid exorbitantly high price tags for our services.</li>
        <li><span class="highlight">No monopoly</span>&mdash; We code for humans. Our code ethics enables migrating to or integrating with another development team seamlessly.</li>
        <li><span class="highlight">We follow ourselves</span>&mdash; Our development philosophy is "Pragmatic" and it allows us to make sensible decision than sticking to any rules.</li>
      </ul>
    </span>
    

    <span class="testimonials">
      <h2>Our clients love us.</h2>
      <p class="testimonial"><em>"</em>If I have to describe Idyllic Software in one word, I would say,they are AWESOME!
I was delighted to see the team pick up a large code base and new technologies quickly and were a tremendous add value to Sears initiatives.
I highly recommend working with this team and can assure you of their professionalism and capabilities. <em>"</em><br/><em class="authority"> &mdash; K Chikkan, Delivery manager, Sears & Roebuck.</em></p>

      <p class="testimonial"><em>"</em>I had a very challenging project that required both deep skill and design finesse. After reviewing many options, I chose Idyllic Software and Jinesh Parekh. Their contribution to the project has been world class and our partnership is now the cornerstone of our interactive strategy for our agency. They have both knowledge and empathy to create truly engaging and well engineered solutions for your interactive needs.<em>"</em><br/><em class="authority">&mdash; Michael Dain, Creative Director, Central Coast Agency.</em> </p>
    </span>
  </section>
</div>
<div class="clearBoth">
</div>


<script type="text/javascript">

  /**
   * We use the initCallback callback
   * to assign functionality to the controls
   */
  function mycarousel_initCallback(carousel) {
    jQuery('.jcarousel-control a img').bind('click', function() {
      carousel.scroll(jQuery.jcarousel.intval(jQuery(this).attr('id')));
      highlight(this,jQuery(this).attr('class'));
      return false;
    });

    
  };

  function highlight(img, clazz){
    jQuery('.jcarousel-control a img.people').attr('src','/assets/people_off.png');
    jQuery('.jcarousel-control a img.web').attr('src','/assets/web_off.png');
    jQuery('.jcarousel-control a img.social').attr('src','/assets/facebook_off.png');
    jQuery('.jcarousel-control a img.webContent').attr('src','/assets/wordpress_off.png');
    if (clazz == 'people'){
      $(img).attr('src', '/assets/people_on.png');
    }else if (clazz == 'web'){
       $(img).attr('src', '/assets/web_on.png');
    }else if (clazz == 'social'){
       $(img).attr('src', '/assets/facebook_on.png');
    }else{
       $(img).attr('src', '/assets/wordpress_on.png');
    }
  }


  // Ride the carousel...
  jQuery(document).ready(function() {
    jQuery("#mycarousel").jcarousel({
      scroll: 1,
      initCallback: mycarousel_initCallback,
      // This tells jCarousel NOT to autobuild prev/next buttons
      buttonNextHTML: null,
      buttonPrevHTML: null
    });
  });
  // Ride the carousel...
  jQuery(document).ready(function() {
    jQuery("#mycarousel").jcarousel({
      scroll: 1,
      initCallback: mycarousel_initCallback,
      animation: 'fast',
    

      // This tells jCarousel NOT to autobuild prev/next buttons
      buttonNextHTML: null,
      buttonPrevHTML: null
    });
  });


  $(document).ready(function() {
    $('.jcarousel-item').each(function(){
      if ($(this).html().trim().length == 0){
        $(this).remove();
      }
    });
  })
</script>