<%= semantic_form_for(@project, :multipart => true,:html => {:class => 'titleAbove'}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs :information do %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :description,:input_html => {:rows => 7} %>
    <%= f.input :screenshot, :as => :file %>
    <%= f.submit %>
  <% end %>
<% end %>
