<% content_for :page_title do %>
  Listing projects
<% end %>

<table class="information">
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Description</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.url %></td>
    <td><%= project.description.to_html.html_safe || 'Not provided' %></td>
    <td><%= link_to 'Show', project, :class => 'linkButton' %></td>
    <td><%= link_to 'Edit', edit_project_path(project), :class => 'linkButton' %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete, :class => 'redLinkButton' %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New Project', new_project_path, :class => 'linkButton' %>
