<% content_for :page_title do %>
  Showing project - <%= @project.name %>
<% end %>
<p id="notice"><%= notice %></p>

<table class="information">
  <tr>
    <td>Name:</td>
    <td><%= @project.name %></td>
  </tr>

  <tr>
    <td>Url:</td>
    <td><%= @project.url %></td>
  </tr>

  <tr>
    <td>Description:</td>
    <td><%= @project.description %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_project_path(@project), :class => 'linkButton' %> |
<%= link_to 'Back', project_path, :class => 'linkButton'  %>