<% if flash[:alert] %>
  <div class="flash flash_alert"><%=  flash[:alert] %></div>
<% end %>
<div id="active_admin_content">
  <div id="login">
    <h2>Idyllic Software - Maverick Login</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html => {:class => 'formtastic admin_user'}) do |f| %>
      <fieldset class="inputs">
        <ol>
          <li class="email required" id="admin_user_email_input">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </li>
          <li class="password required" id="admin_user_password_input">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </li>

          <% if devise_mapping.rememberable? -%>
            <li class="boolean optional" id="admin_user_remember_me_input">
              <div> </div>
              <label>
                <%= f.check_box :remember_me %>Remember me
              </label>
            </li>
          <% end -%>
        </ol>
      </fieldset>
      <fieldset class="buttons">
        <ol>
          <li class="commit">
            <%= f.submit "Login" %>
          </li>
        </ol>
      </fieldset>
    <% end %>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>