// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";
@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';

// To customize the Active Admin interfaces, add your
// styles here:
body, body.logged_out{background: url(background.png) repeat;}
.field_with_errors{display: inline; padding: 0; background-color: white;}


.left{float:left;}
.right{float:right;}
.linkButton{ @include background-image(linear-gradient(#838A90, #414549)); padding: 0.2em 1em; @include border-radius(4em);color: #EFEFEF;font-size:14px;}
a.linkButton, a.linkButton:visited, a.linkButton:link{color:#EFEFEF;text-decoration: none;text-shadow: 0 1px 0 black;font-size:0.8em;font-weight:bold;font-size:14px;}

a.redLinkButton{ @include background-image(linear-gradient(#a45e54, #800517)); padding: 0.2em 1em; @include border-radius(4em);color: #EFEFEF;font-size:14px;text-decoration: none;text-shadow: 0 1px 0 black;font-size:0.8em;font-weight:bold;font-size:14px;}

#content_wrapper{padding:4em;}


.statusForm{margin: 1em 0; border: 2px solid #DFE1E2; @include border-radius(1em);padding:1em;}
table.information{font-size:1.3em;width:50%;margin-top:2em;}
table.information td{border-bottom:1px solid #DFE1E2;width:30%;}
table.information td.value{color: $blue;width: 100px;width:70%;}


form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form input[type="tel"], form textarea {font-size: 1.5em;}
form.titleAbove fieldset ol > li label {width:100%;font-size:1.5em; margin:0.5em;font-weight: normal;}