@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';

.careers {margin-bottom:30px;}
.careers .introduction section{background: url('punchHole.png') repeat-y left $mainBackground;display:block;padding-left: 40px;height:880px;}
.careers article.description{width: 400px;float: left;}
.careers article.description h2{font-weight:bold;font-size: 24px;color:$grey;}
.careers article.description p{margin: 20px 0;width:375px;line-height:20px;}

.careers article.form{width: 430px;float: left;}
.careers article.form h1.icon{background:url('careerIcon.png') no-repeat;font-size:22px; color: $orangeText;padding:47px 0 0 80px;font-family: georgia;margin:0 0 20px 0;}
.careers article.form label{display:block;margin-top: 10px;}
.careers article.form input,.careers article.form textarea{display:block;color: $grey;border:1px solid $lightGrey;@include border-radius(5px);}
.careers article.form input{height:24px;}
.careers article.form input[type='submit']{border: 1px solid #e05f12; background: $orange;@include border-radius(8px);color: $white;margin-top:20px;font-size:15px;height:35px;@include box-shadow(#c2c2c2 3px 3px 4px 1px);padding: 0 10px;cursor: hand;}
.careers article.form input[type='hidden']{display:none;}






