$background: #e8eff3;
$borderColor: #262826;
$darkBackground: #434543;
$dark: #434543;
$darkText: #c9c9c9;
$orange: #f58220;
$orangeText: #DF6D27;
$grey: #636563;
$white: #ffffff;
$blue: #1e80c2;
$header: #b9b9b9;
$profile: #b9b9b9;
$lightGrey: #b9b9b9;
$mainBackground: #fbfbfb;