@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';

.contact_us{margin-bottom:30px;}
.contact_us .introduction section{background: url('punchHole.png') repeat-y left $mainBackground;display:block;padding-left: 40px;height:700px;}
.contact_us article.description{width: 400px;float: left;}
.contact_us article.description h2{font-weight:bold;font-size: 24px;color:$grey;}
.contact_us article.description p{margin: 20px 0;width:375px;line-height:20px;}

.contact_us article.form{width: 400px;float: left;margin-top:30px;}
.contact_us article.form p{margin:10px 0;}
.contact_us article.form p.strong{font-weight:bold;}
.contact_us article.form h1.icon{font-size:22px; color: $orangeText;font-family: georgia;}
.contact_us article.form label{display:block;margin-top: 10px;}
.contact_us article.form input,.contact_us article.form textarea{display:block;color: $grey;border:1px solid $lightGrey;@include border-radius(5px);}
.contact_us article.form input{height:24px;}
.contact_us article.form input[type='submit']{border: 1px solid #e05f12; background: $orange;@include border-radius(8px);color: $white;margin-top:20px;font-size:15px;height:35px;@include box-shadow(#c2c2c2 3px 3px 4px 1px);padding: 0 10px;cursor: hand;}





