@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';




li.banner img{float:left;margin-top:20px;}

li.banner .content h2{color: $white; font-size:40px;padding-top: 50px;margin-bottom: 40px;font-weight:bold;}
li.banner .content h2 em{color: $orange}
li.banner .content p{color: #e9e9e9;text-shadow: -2px 2px 0 #666666;margin-bottom:20px;font-size:14px;}

.banners .ourPeople .actions{margin-top:65px;}

li.banner .actions a.bannerButton{background:#ece1e1; padding: 0.2em 1em; @include border-radius(10px);color: #3f413f;font-size:20px;@include box-shadow($borderColor 1px 2px 3px 1px);font-weight:bold;}
li.banner .peopleActions{position:absolute;bottom:0;margin:10px 0 10px 730px;}
li.banner .webActions{position:absolute;bottom:0;margin:10px 0 10px 820px;}
li.banner .socialActions{position:absolute;bottom:0;margin:10px 0 10px 820px;}
li.banner .contentActions{position:absolute;bottom:0;margin:10px 0 10px 820px;}

.jcarousel-control{position:absolute !important;margin:-110px 0 0 340px;}
.jcarousel-control a{border:none !important;background:none !important;}
.jcarousel-control a{width:58px !important;}

.testimonials{margin:30px 0 30px;width:400px;float:right;}
.testimonials h2{color: #000000;font-size:26px;font-weight:bold;margin:4px 0;}
.testimonials .testimonial{font-style:italic;margin: 30px 0;color: #000000;line-height:20px;}
.testimonials .testimonial em{font-weight:bold;}
.testimonials .testimonial em.authority{color:$orange;}

.whyWorkWithUs {margin: 30px 0;width:500px;float:left;}
.whyWorkWithUs h2{color: $grey;font-size:26px;font-weight:bold;margin:4px 0;}
.whyWorkWithUs ul li{line-height:18px;margin-bottom: 16px;}
.whyWorkWithUs ul li .highlight{font-weight:bold;}
