/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
*/

.theme-pascal.slider-wrapper {
    background:url(/images/slider.png) no-repeat;
    width:668px;
    height:299px;
    margin:0 auto;
    padding-top:17px;
    position:relative;
}

.theme-pascal .nivoSlider {
    position:relative;
    width:630px;
    height:235px;
    margin-left:19px;
    background:url(/images/loading.gif) no-repeat 50% 50%;
}
.theme-pascal .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:630px; /* Make sure your images are the same size */
    height:235px; /* Make sure your images are the same size */
}
.theme-pascal .nivoSlider a {
    border:0;
    display:block;
}

.theme-pascal .nivo-controlNav {
    background:url(/images/controlnav.png) no-repeat;
    width:251px;
    height:40px;
    position:absolute;
    left:200px; /* Tweak this to center bullets */
    bottom:-42px;
    padding:8px 0 0 82px;
    z-index:20;
}
.theme-pascal .nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(/images/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.theme-pascal .nivo-controlNav a.active {
    background-position:0 -22px;
}

.theme-pascal .nivo-directionNav a {
	display:none;
}

.theme-pascal .nivo-caption {
    bottom:40%;
    left:auto;
    right:0px;
    width:auto;
    max-width:630px;
    overflow:hidden;
    background:#fff;
    text-shadow:none;
    font-family: arial, serif;
    color:#4c4b4b;
}
.theme-pascal .nivo-caption p {
    padding:5px 15px;
    color:#333;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}
.theme-pascal .nivo-caption a { 
    color:#333;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}

.theme-pascal .ribbon {
    background:url(/images/ribbon.png) no-repeat;
    width:111px;
    height:111px;
    position:absolute;
    top:-8px;
    left:-8px;
    z-index:300;
}