@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';

.mavericks{padding: 0  0 25px 20px; background: $darkBackground;@include box-shadow(inset $borderColor 1px 2px 3px 1px);@include border-radius(4px);border-color: $borderColor;margin-bottom:30px; }
.mavericks header{height: 56px;padding: 15px;margin-bottom:25px;}
.mavericks header img.title{float:left;margin:8px;}

.mavericks .teamCarousel{float:right;}
.mavericks header a.teamPicturesBack{float:left;}
.mavericks header a.teamPicturesNext{float:left;}

.ie7 .mavericks header a.teamPicturesBack{margin-top:15px;}
.ie7 .mavericks header a.teamPicturesNext{margin-top:15px;}

.mavericks header div#teamPictures{float:left;margin-top:5px;}
.mavericks header ul.teamPictures li{list-style: none; display: inline;text-align: right;margin:0 5px;width:40px;}
.mavericks header ul.teamPictures li img{opacity: 0.3;ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);}
.mavericks header ul.teamPictures li a.selected img{opacity: 1;ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);}
.mavericks header ul.teamPictures li a:hover img{opacity: 1;ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);}

.mavericks .profile{height:auto;padding-top: 16px;margin-top:-35px;}
.mavericks a.briefBioNavigation{margin-left:90px;}
.ie7 .mavericks .briefBioNavigation{margin-top:-40px;position:absolute;}
.ie7 .mavericks .myWorkNavigation{margin: -40px 0 0 200px;position:absolute;}

.mavericks .profile .projects{width: 700px;float:left;margin-top: 0px;text-align:center;background:#fbfbfb;}
.mavericks .profile .projects a.screenshot{width: 620px;}
.mavericks .profile .projects a.screenshot img{text-align:right;display: block;padding-left:32px;}
.mavericks .profile .projects li{height: auto !important;}

.mavericks .profile .maverickInformation{width: 700px;float:left;text-align:center;background: url(punchHole.png) repeat-y scroll left center #fbfbfb;padding: 10px 0;font-size:12px;}
.mavericks .profile .maverickInformation a{color: $blue; text-decoration: none;}
.mavericks .profile .maverickInformation .pageCurlCorner{margin:-10px 0 0 0 !important;}
.mavericks .profile .maverickInformation .pageCurlCorner img{margin: 0 !important;}
.mavericks .profile .maverickInformation .leftSection{border-right: 1px solid $header;margin: 0 10px 10px 40px;text-align: left; float:left; width: 350px;}
.mavericks .profile .maverickInformation h2.title{font-weight:bold;margin: 15px 0 5px 0;}
.mavericks .profile .maverickInformation .informationSection ul{margin-left: 10px;}
.mavericks .profile .maverickInformation .informationSection li{list-style-image:url('dash.png');margin: 10px 0;}
.mavericks .profile .maverickInformation .rightSection{margin: 0 10px 10px 5px;text-align: left; float:left; width: 280px;}
.mavericks .profile .maverickInformation .rightSection h2.title{font-weight:bold;margin: 10px 0 5px 0;color: $orange;text-shadow: none;}
.mavericks .profile .maverickInformation .rightSection hr.seperator{height:1px;background:#cccccc;margin: 5px 5px 5px 0px;border:none;}

.mavericks .profile .maverickInformation p{margin:3px 0;}
.mavericks .profile .maverickInformation img{max-width: 250px; margin:10px 0 10px -10px;}

.mavericks .profile .information{float: right;width:217px;height: auto;margin:0 10px 0 auto;}
.mavericks .profile .information p.profileImage{background: url(profileImageBackground.png) no-repeat;text-align: center;height:193px; width:200px;margin: auto;}
.mavericks .profile .information p.profileImage img{margin:20px 0 0 -15px;}
.mavericks .profile .information hr{margin: 2px 10px;background: $header;border:none;height: 1px;}
.mavericks .profile .information section {margin:10px;}
.mavericks .profile .information section h2{color: $white;margin:10px 0;font-weight:bold;text-shadow: none;}
.mavericks .profile .information section li{font-size:12px;color: $profile;line-height: 20px;}
.mavericks .profile .information section li label{font-weight:bold;}
.mavericks .profile .information section li a{color: $profile;text-decoration: underline;}
