@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';

.services .introduction section{background: url('punchHole.png') repeat-y left $mainBackground;display:block;padding-left: 40px;height:500px;}
.services h1.serviceIcon{background:url('servicesIcon.png') no-repeat;font-size:22px; color: $orangeText;padding:25px 0 0 80px;font-family: georgia;margin:0 0 20px 0;height:50px;}
.services article.description h2{font-weight:bold;font-size: 24px;color:$grey;}
.services article.description p{margin: 20px 0;line-height:20px;}

.services article.forte{text-align:center !important;}
.services article.process{text-align:center !important;}
