@import 'compass/reset';
@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';

body { font: 14px arial, sans-serif; background: url(background.png) repeat;color: $grey;}
.clearBoth{clear:both;}
.floatLeft{float:left;}
a{outline: 0;}

div.head{background: $dark; height: 35px;}
.logo{position: absolute;top: 48px;margin-left:60px;}

.main{width: 960px;margin:auto;}
nav{margin: 20px 0 24px 0;text-align: right;text-transform: uppercase;font-family: georgia;font-size:14px;}
nav a{padding: 8px;text-decoration: none; color: $dark !important;vertical-align:middle;}
nav a img{vertical-align: bottom;vertical-align:middle;}
nav a.selected{background: $orange; padding: 4px 10px 2px 10px; border: 1px solid $orange; @include border-radius(24px);color: $white !important;behavior: url(/PIE.htc);vertical-align:middle;}
.ie7 nav a.selected{padding: 4px 10px 4px 10px;margin-top:4px;}
.ie8 nav a.selected{padding: 2px 10px 6px 10px;margin-top:4px;}
.ie7 .weThinkLikeUs{margin-bottom:-5px;}

.main header{text-align: center; font-size: 2.5em;color: $grey;text-shadow: 0px 1px 1px $white;font-weight:bold;padding-top:50px;}
.main header .highlight{color: $orange; font-style: italic;color: $orange;text-shadow: 0px 1px 1px $white;}

footer{color: $white;height: auto;line-height: 1.4em;background: $dark;width: 100%;}
footer .footerContainer{width: 960px; margin: auto;height:325px;}
footer section.first{float:left; width: 360px;}
footer section.first span{width: 180px;}
footer section.second{float:left; width: 370px;margin-left: 40px;}
footer section.third{float:right;}
footer section h2{font-size: 16px;margin: 1em 0 0.2em 0;font-weight: bold;}
footer section span{float: left; width: 10em;}
footer section p.copyright{font-size: 0.9em;}
footer .highlight{color: $orange; font-style: italic;width:370px; }

.content{height:auto;display:block;height:auto;}

.pageCurlCorner{text-align:right;}
.pageCurlCorner img{border: 0;}

.introduction{padding:30px 20px 20px 20px;background: $darkBackground;@include box-shadow(inset $borderColor 1px 2px 3px 1px);@include border-radius(4px);border-color: $borderColor;}
.information h2{ font-size: 22px;color: $grey;text-shadow: 0px 1px 1px $white;font-weight:bold;margin:10px;}
.information article{border: 4px solid $lightGrey; background: $mainBackground;@include border-radius(1px);margin-bottom:20px;padding:10px;}
.information article li{margin:10px 0;}

#error_explanation{color: $orange}
#error_explanation p{font-weight:bold;}
#error_explanation ul{margin-top:10px;}
#error_explanation li{list-style: disc;margin-left: 15px;}

section.thankyou {height: 500px !important;}
section.thankyou .form{width:850px !important;}
section.thankyou .form p.message{margin-left: 40px !important;; font-size: 20px !important;}
section.thankyou .form p.message span.highlight{color: $orange;font-weight:bold;font-size:28px;}
.preview{font-size: 12px;float: right}








