@import 'compass/css3';
@import "compass/css3/border-radius";
@import 'colors';


.jcarousel-skin-tango {
  .jcarousel-container {
    width:960;
    height:387px;
    background:url(homeBg.png) #434543;
    @include box-shadow(inset $borderColor 1px 2px 3px 1px);@include border-radius(4px);
    border-color: $borderColor;
    font-size:16px;
   }
  .jcarousel-direction-rtl {
    direction: rtl; }
  .jcarousel-container-horizontal {
    width:960;
    height:387px; }  
  .jcarousel-clip {
    overflow: hidden; }
  .jcarousel-clip-horizontal {
    width: 960px;
    height: 387px; }
  .jcarousel-clip-vertical {
    width: 75px;
    height: 245px; }
  .jcarousel-item {
    width: 960px;
    height: 387px; }
  .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 0;}
  .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0; }
  .jcarousel-item-vertical {
    margin-bottom: 10px; }
  .jcarousel-item-placeholder {
    background: #fff;
    color: #000; }
  .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0; }
  .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png); }
  .jcarousel-next-horizontal {
    &:hover, &:focus {
      background-position: -32px 0; }
    &:active {
      background-position: -64px 0; } }
  .jcarousel-next-disabled-horizontal {
    cursor: default;
    background-position: -96px 0;
    &:hover, &:focus, &:active {
      cursor: default;
      background-position: -96px 0; } }
  .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0; }
  .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png); }
  .jcarousel-prev-horizontal {
    &:hover, &:focus {
      background-position: -32px 0; }
    &:active {
      background-position: -64px 0; } }
  .jcarousel-prev-disabled-horizontal {
    cursor: default;
    background-position: -96px 0;
    &:hover, &:focus, &:active {
      cursor: default;
      background-position: -96px 0; } }
  .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
    &:hover, &:focus {
      background-position: 0 -32px; }
    &:active {
      background-position: 0 -64px; } }
  .jcarousel-next-disabled-vertical {
    cursor: default;
    background-position: 0 -96px;
    &:hover, &:focus, &:active {
      cursor: default;
      background-position: 0 -96px; } }
  .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
    &:hover, &:focus {
      background-position: 0 -32px; }
    &:active {
      background-position: 0 -64px; } }
  .jcarousel-prev-disabled-vertical {
    cursor: default;
    background-position: 0 -96px;
    &:hover, &:focus, &:active {
      cursor: default;
      background-position: 0 -96px; } } }

/**
 *  Horizontal Buttons
 */

/**
 *  Vertical Buttons
 */