<%= semantic_form_for(@brief_bio, :url => brief_bio_path, :html => {:class => 'titleAbove'}) do |f| %>
  <% if @brief_bio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brief_bio.errors.count, "error") %> prohibited this brief_bio from being saved:</h2>

      <ul>
        <% @brief_bio.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs :information do %>
    <%= f.input :professional_experience, :input_html => {:rows => 7}, :label => 'Professional experience (List the experience chronologically seperating each one by a new line)' %>
    <%= f.input :education, :input_html => {:rows => 7}, :label => 'Education (List your relevant educational qualifications & certifications here.)' %>
    <%= f.input :purpose_of_life, :label => 'What is the purpose of your life? Call out the single most important thing without which you have to do before you die!'%>
    <%= f.input :topics_of_interest, :label => 'List your topics of interest seperating each one by a new line', :input_html => {:rows => 7}  %>
    <%= f.input :why_work_with_me, :label => 'What do you think people enjoy the most when working with you?', :input_html => {:rows => 7}  %>
    <%= f.input :favorite_quote, :label => 'Which quote inspires you the most?'   %>
  <% end %>
  <%= f.submit %>
<% end %>
