<% content_for :page_title do %>
  <%= current_maverick.name %>'s Brief Bio
<% end %>

<p id="notice"><%= notice %></p>

<table class="information">
  <tr>
    <td>Professional experience</td>
    <td class="value"><%= @brief_bio.professional_experience.to_html.html_safe %></td>
  </tr>

  <tr>
    <td>Educational qualifications</td>
    <td class="value"><%= @brief_bio.education.to_html.html_safe %></td>
  </tr>

  <tr>
    <td>Purpose of life</td>
    <td class="value"><%= @brief_bio.purpose_of_life.to_html.html_safe %></td>
  </tr>

  <tr>
    <td>Topics of interest</td>
    <td class="value"><%= @brief_bio.topics_of_interest.to_html.html_safe %></td>
  </tr>

  <tr>
    <td>Why work with me</td>
    <td class="value"><%= @brief_bio.why_work_with_me.to_html.html_safe %></td>
  </tr>

  <tr>
    <td>Favorite quote</td>
    <td class="value"><%= @brief_bio.favorite_quote.to_html.html_safe %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_brief_bio_path, :class => 'linkButton' %>|
<%= link_to 'Back', brief_bio_path, :class => 'linkButton'  %>
