<footer>
  <div class="footerContainer">
    <section class="first">
      <div>
        <h2>Contact us:</h2>
        <p>If you want to share or discuss any idea's with us or want to know more about us, feel free to connect with us via any of the below means that you are most comfortable with.</p>
      </div>

      <span class="left">
        <h2>Pune office:</h2>
        <p>5 Vidya Building</p>
        <p>ITI Road, Aundh</p>
        <p>Pune - 411007</p>
        <p>Maharashtra</p>
        <p>India</p>

        <h2>Phone:</h2>
        <p>(91)985-0060-710</p>
      </span>

      <span class="left">
        <h2>Email:</h2>
        <p>info@idyllic-software.com</p>

        <h2>Skype name:</h2>
        <p>idyllic.software</p>

      </span>
    </section>

    <section class="second">
      <div>
        <h2>Client speak</h2>
        <p>
          "I had a very challenging project that required both deep skill and design finesse. After reviewing many options, I chose Idyllic Software and Jinesh Parekh. Their contribution to the project has been world class and our partnership is now the cornerstone of our interactive strategy for our agency. They have both knowledge and empathy to create truly engaging and well engineered solutions for your interactive needs."
          <span class="highlight">&mdash;Michael Dain, Creative Director, Central Coast Agency</span>
        </p>
      </div>
    </section>

    <section class="third">
      <div>
        <%= image_tag 'footerBadge.png' %>
        <p class="copyright">&copy; 2011 Idyllic Software.</p>
        <p class="copyright">All rights reserved.</p>
      </div>
    </section>
  </div>
</footer>