<%= link_to (image_tag 'logo.png'), '/home', :class => 'logo' %>
<nav>
  <%= link_to 'people', '/people', :class => classify('people') %>
  <%= link_to 'services', '/services', :class => classify('services')%>
  <% if controller_name == 'we_think_like_us' %>
    <%= link_to (image_tag 'weThinkLikeUsWhite.png', :class => 'navWeThinkLikeUs'), '/we_think_like_us', :class => classify('we_think_like_us')%>
  <% else %>
    <%= link_to (image_tag 'weThinkLikeUs.png', :class => 'navWeThinkLikeUs'), '/we_think_like_us', :class => classify('we_think_like_us')%>
  <% end %>
  <%= link_to 'careers', '/careers', :class => classify('careers')%>
  <%= link_to 'contact us', '/contact_us', :class => classify('contact_us')%>
</nav>