<html>
  <head>
    <title>Idyllic Software</title>
    <%= stylesheet_link_tag     'active_admin', "site", "home" %>
    <%= javascript_include_tag  'active_admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= current_maverick ? 'logged_in' : 'logged_out'%>">
    <div id="wrapper">
      <% if current_maverick %>
        <div id="header"><h1 id="site_title">Idyllic Software</h1><ul class="tabbed_navigation" id="tabs">
            <li class="current">
              <%= link_to  'Profile','/profile' %>
              <%= link_to  'Brief Bio','/brief_bio' %>
              <%= link_to  'Projects','/projects' %>
              <%= link_to  'Social profile','/social_profile' %>
            </li>
          </ul>
          <p id="utility_nav">
            <span class="current_user"><%= current_maverick.name %></span>
            <%= link_to 'Logout', destroy_maverick_session_path, :method => :delete %>
          </p>
        </div>

        <div id="title_bar">
          <div id="titlebar_left">
            <h2 id="page_title">
              <%= yield :page_title %>
            </h2>
          </div>
        </div>
      <% end %>
      <div id="content_wrapper">
        <%= yield %>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
