<!DOCTYPE HTML>
<html>
  <head>
    <title>Idyllic Software</title>
    <%= stylesheet_link_tag 'website' %>
    <% if ie? %>
      <%= javascript_include_tag "html5", 'PIE' %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="head"></div>

    <div class="main">
      <%= render :partial => 'layouts/navigation' %>

      <header>
        <%=link_to (image_tag 'headerText.png', :alt => 'Delivering creat!vity!'), '/home' %>
      </header>

      <div class="content">
        <%= yield %>
      </div>
    </div>


    <%= render :partial => 'layouts/footer' %>
  </body>
</html>
